p{
    background-image: linear-gradient(orange,white
    , green);
    text-align:center;
    height: 600px;
    width: 1300px;
    padding-bottom: 10px;
    font-size: 50px;
    color:blue;
    
    
   
}